body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 54px;
  background: #fafafa;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: inherit;
  width: 80%;
}

.header-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-container ul li {
  margin: 0 10px;
}

.search-form {
  min-width: 125px;
  width: 215px;
  height: 28px;
  background: #efefef;
  border: 1.5px solid #ececec;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  outline: none;
  border: none;
  background: inherit;
  text-align: center;
  font-size: 14px;
  color: gray;
}

.search-form span {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}

.header-container .user-icon {
  border-radius: 50%;
  border: 1px solid black;
  padding: 2px;
}

.main {
  background: #fafafa;
}

.main-container {
  margin: 50px auto;
  padding: 10px;
  max-width: 935px;
}

.profile {
  display: grid;
  grid-template-columns: 350px 600px;
  grid-template-rows: 60px 50px 1fr 200px;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "picture title"
    "picture stats"
    "picture description"
    "moments moments";
  margin-top: 15px;
  margin-bottom: 20px;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #ececec;
}

.profile-pic {
  justify-self: center;
  width: 150px;
  height: 150px;
  margin: 0;
  grid-area: picture;
}

.profile-pic img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.profile-title {
  display: flex;
  align-items: center;
  grid-area: title;
}

.profile-title .username {
  font-size: 28px;
  font-weight: 100;
  color: #484848;
  margin-right: 20px;
}

.profile-title button {
  background: inherit;
  border: 1px solid #ececec;
  border-radius: 2px;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

.profile-stats span {
  margin-right: 30px;
  color: #262626;
}

.profile-stats {
  grid-area: stats;
}

.profile-description {
  grid-area: description;
}

.profile-description p {
  margin: 5px 0;
}

.profile-description .description {
  letter-spacing: 0.03em;
  color: #262626;
}

.profile-moments {
  display: flex;
  justify-content: space-between;
  grid-area: moments;
}

.profile-moments figure {
  width: 87px;
  height: 87px;
}

.profile-moments img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 1px solid #ded8d8;
  padding: 5px;
  overflow: hidden;
}

.profile-moments p {
  font-size: 15px;
  text-align: center;
}

.post-sections ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-sections ul li {
    display: inherit;
    align-items: center;
}

.post-sections ul li span {
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #8E8E8E;
}


.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  align-content: center;
  gap: 28px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
  vertical-align: top;
}

.post-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .post-overlay {
  display: flex;
}

.post-likes,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.post-likes {
    background-image: url('../img/corazon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.post-comments {
    background-image: url('../img/comment.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-y: -7px;
}

@media screen and (max-width: 768px) {
  .post-list {
    gap: 3px;
  }

  .search-form {
    display: none;
  }

  .header-container {
    justify-content: space-evenly;
    width: 100%;
  }
  .header-container ul {
    padding: 0;
  }

  .navbar img {
    width: 22px;
    height: 22px;
  }

  .profile {
      grid-template-columns: 100px 300px;
      grid-template-rows: 50px 50px 1fr 150px ;
      grid-template-areas: "picture title" 
                           "picture title" 
                           "description description" 
                           "moments moments"
                           "stats stats";
  }

  .profile-pic {
      width: 75px;
      height: 75px;
  }

  .profile-moments figure {
      width: 60px;
      height: 60px;
  }
  .profile-moments img {
      width: 50px;
      height: 50px;
  }
  
  .profile-moments p {
      font-size: 12px;
  }

  .profile-stats {
      font-size: 14px;
      text-align: center;
  }
  
  
}
