body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 80px 100%;
  grid-template-areas:
    "header header"
    "navbar content";
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  grid-area: header;
  box-shadow: 0px 2px 3px 0px rgba(32, 33, 36, 0.28);
}

.header .logo-container {
  display: flex;
  align-items: center;
}

.header .user-profile {
  display: flex;
  align-items: center;
}

.user-profile figure {
  margin: 0 10px;
}

.user-profile img {
  border-radius: 50%;
  overflow: hidden;
}

.user-profile p {
  font-weight: 600;
}

.header .search {
  display: flex;
  align-items: center;
}

.search input {
  outline: none;
  border: 1px solid rgba(32, 33, 36, 0.28);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 40rem;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background:linear-gradient(to right, #FE555C, #FE6D6A);
  text-align: center;
}

.navbar ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.navbar  i {
  font-size: 28px;
}

.navbar p {
  font-weight: 600;
  font-size: 18px;
}

.navbar .settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.movies-categories {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: 250px;
  gap: 40px;
  grid-area: content;
}

.movies-categories .movie-card {
  position: relative;
}

.movie-card {
  box-shadow: 0px 0px 7px 1px grey;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 100%;
}

.movie-info {
  background-color: rgba(227, 64, 71, 0.6);
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}

.movie-card .movie-title {
  font-size: 18px;
}

.movie-card h4 {
  margin: 0
}

.movie-card p {
  margin: 5px 0;
  text-align: justify;
  font-size: 14px;
}
